body{
    background-image: url("../images/nza_background.jpg");
}

main{
    background-color: white;
}
.button{
    float: right;
}
nav{
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}
nav ul{
    list-style-type: none; 
    
}
nav li{
    display: inline;
    border-right: 1px solid black;
    margin: 1em;
}
nav a{
    text-decoration: none;   
}

/*footer*/
footer{
    border-top: 1px solid black;
    margin-top: 1em;
}

footer ul{
    list-style-type: none; 
    
}
footer li{
    display: inline;
    margin: 1em;
}
nav a{
    text-decoration: none;   
}

/*contact*/
.contact a{
    text-decoration: none;
}

body{
    background-image: url("../images/nza_background.jpg")
}

.PageOneSideBar{
    display: flex;
    justify-content: flex-start;
}

.PageOneMain{
    display: flex;
    justify-content: flex-end;
}

.PageTwoMain{
    display: flex;
    justify-content: flex-start;
}

.PageTwoSideBar{
    display: flex;
    justify-content: flex-end
}



